# cmake files
.idea/
cmake-build-debug/

# Other files
tools/
doc/
test/
inputs/cascades/
!inputs/cascades/Fe_20KeV_Cascades.txt
!inputs/cascades/W_100KeV_Cascades.txt
inputs/defectsAttributes/
!inputs/defectsAttributes/Fe_Defects.txt
!inputs/defectsAttributes/FeCu_Defects-full.txt
!inputs/defectsAttributes/FeCu_Defects_Cas.txt
!inputs/defectsAttributes/FeCu_Defects_FP.txt
!inputs/defectsAttributes/W_Defects_Cas.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
