##############################
## Folders                  ##
##############################
.idea/
cmake-build-debug/

## .o
src/*o
src/srscd

## Output files
tests/Bulk_Implantation_Cascade/*.out
tests/Bulk_Implantation_Cascade/*.vtk

tests/Debug_Restart/*.out
tests/Debug_Restart/*.vtk

tests/GrainBoundary/*.out
tests/GrainBoundary/*.vtk

tests/He_Desorption/*.out
tests/He_Desorption/*.vtk

tests/Isochronal_Annealing/*.out
tests/Isochronal_Annealing/*.vtk

tests/Nanoporous/*.out
tests/Nanoporous/*.vtk

tests/PolyCrystal/*.out
tests/PolyCrystal/*.vtk

tests/Sequential_Implantation_Cascade+Heimplantation/Sim1_Cascade/*.out
tests/Sequential_Implantation_Cascade+Heimplantation/Sim1_Cascade/*.vtk
tests/Sequential_Implantation_Cascade+Heimplantation/Sim2_HeImplantation/*.out
tests/Sequential_Implantation_Cascade+Heimplantation/Sim2_HeImplantation/*.vtk

tests/Sequential_Implantation_Heimplantation_Cascade/Sim1_HeImplantation/*.out
tests/Sequential_Implantation_Heimplantation_Cascade/Sim1_HeImplantation/*.vtk
tests/Sequential_Implantation_Heimplantation_Cascade/Sim2_CascadeImplantation/*.out
tests/Sequential_Implantation_Heimplantation_Cascade/Sim2_CascadeImplantation/*.vtk

tests/ThinFilm_FrenkelPairs/*.out
tests/ThinFilm_FrenkelPairs/*.vtk

tests/ThinFilm_He/*.out
tests/ThinFilm_He/*.vtk

tests/ThinFilm_NonUniform_Implantation/*.out
tests/ThinFilm_NonUniform_Implantation/*.vtk


